.git
/.vscode
/__tests__
/dist
/node_modules/
/node_modules_mods/
/src/
/build/__tests__/
npm-publish-win.bat
jest-preprocessor.js
package-lock.json
tsconfig.json
tsconfig.json
webpack.config.json
gruntfile.js